<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}"><!-- 不用base就使用th:src="@{/js/jquery.min.js} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div
        style="text-align: center; background-image: url(https://img2.baidu.com/it/u=2031033916,730779149&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800); height: 720px; width: 1280px;">
        <span style="font-size: 50px;">哞哞社区团购</span>
        <br>
        <span>请写下你的建议或投诉：</span>
        <br>
        <textarea rows="4" cols="50"></textarea>

        <button>提交</button>
    </div>
</body>

</html>