<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div
        style="text-align: center; background-image: url(https://img2.baidu.com/it/u=2031033916,730779149&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800); height: 720px; width: 1280px;">
        <span style="font-size: 50px;">哞哞社区团购</span>
        <br>
        <span>公司地址：广西科技大学南四305</span>
        <br>
        <span>联系电话：9527-888888</span>
        <br>

    </div>
</body>

</html>